<!DOCTYPE html><!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/form.css' %}">
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form_header">
      <div class="note">
        <p>Make Payment</p>
      </div>

      <div class="form-content">
        <h1 class="student_name">{{student}}</h1>
        <div class="form-group" style="display: none;">
          {% render_field payment_form.student class="form-control"%}
        </div>
        <div class="form-group">
          <input type="number" step="any" value="0" class="form-control" id="main_amount" onkeyup="trying()">
        </div>
            <div class="form-group">
              <p><b>Food Payment</b></p>
              <input name="pay" type="number" value="0" class="form-control" id="food" placeholder="Food Payment" onkeyup="trying()" readonly>
            </div>
            {% if student.form_of_transportation == 'Bus' %}
            <div class="form-group">
              <p id="car_top"><b>Car Payment</b></p>
              <input name="carpay" type="number" value="0" class="form-control" id="car" placeholder="Bus Fee" onkeyup="trying()" readonly>
            </div>
            {% endif %}
            {% if student.payment_method == 'Pay_Per_Day' %}
            <div class="form-group">
              <p><b>School Fees Payment</b></p>
              <input name="schoolfees" type="number" value="0" class="form-control" id="fees" placeholder="Daily School Fees" readonly>
            </div>
            {% endif %}
            <div class="form-group">
              <p><b>Date</b></p>
              {% render_field payment_form.when_made class="form-control" placeholder="Date" %}
            </div>
            <div class="form-group">
              <p><b>Balance</b></p>
              <input name="balance" type="number" step="any" class="form-control" id="balance" placeholder="Balance" onkeyup="trying()" required>
            </div>
            <div class="form-group">
              <p><b>Debt</b></p>
              <input name="debt" type="number" step="any" class="form-control" id="debt" placeholder="Debt" required>
            </div>
            {% for i in student_pay %}
              {% if forloop.last %}
              <div class="balnarea">
                <h3>ML: {{i.balance}}</h3>
                <h3 id="debbt">AR: {{i.debt}}</h3>
              </div>
              {% endif %}
            {% endfor %}
  <div class="paybtn"><button type="submit" class="btn btn-success">Pay</button></div>
      </div>
    </div>
  </div>
</form>

<script>

  // |||||||||||||||||||| CALCULATE EVERYTHING ||||||||||||||||
    '{% for i in student_pay %}'
      '{% if forloop.last %}'
        document.getElementById('debt').defaultValue = '{{i.debt}}'
        document.getElementById('balance').defaultValue = '{{i.balance}}'
      '{% endif %}'
    '{% endfor %}'
  function trying(){
    
  }

</script>

{% endblock content %}
  