<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">

<input type="text" class="search form-control" placeholder="Search...">

<div class="table-responsive"> 
    <table class="table table-bordered results">
      <caption style="display: none;"></caption>
        <thead>
          <tr>
            <th>Names</th>
            <th>User</th>
            <th>Amount</th>
            <th>Reset</th>
          </tr>
        </thead>
        <tbody>
          {% for student, last_payment in student_last_payments.items %}
            {% if last_payment %}
              <tr>
                <td>{{student.get_name}}</td>
                <td>{{last_payment.user}}</td>
                <td>{{last_payment.amount}}</td>
                <td>
                  <form action="{% url 'admin_delete_daily_paid_student' student.id %}" method="POST" class="delete_payment_form">
                    {% csrf_token %}
                    <button class="btn btn-danger delete">Reset</button>
                  </form>
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody> 
      </table> 
  </div>

<script>
    bttn1 = document.getElementsByClassName('delete');
    if(bttn1){
        for(var i = 0; i < bttn1.length; i++){
        bttn1[i].addEventListener('click', function(){
            if(confirm('Do you want to approve this student?')){
                document.getElementsByClassName('delete_payment_form').submit();
            }else{
                event.preventDefault()
            }
        }
    )}}
</script>
{% endblock%}