<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<section class="table-main-body"> 
    <input type="text" class="search form-control" placeholder="Search...">
    <table class="table table-bordered results">
      <caption style="display: none;"></caption>
      <thead class="sticky-table-head">
        <tr>
          <th >Date</th>
          <th >Amount</th>
          <th >Bus Money</th>
          <th >School Fees</th>
        </tr>
      </thead>
      <tbody>
        {% for record in daily_fee_money_record %}
        <tr>
          <td >{{record.date}}</td>
          <td >{{record.sum|floatformat}}</td>
          {% if record.sum3 == None or record.sum2 == None %}
          <td >0</td>
          <td >0</td>
          {% else %}
          <td >{{record.sum2|floatformat}}</td>
          <td >{{record.sum3|floatformat}}</td>        
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>    
</section>
{% for record in daily_fee_money_record %}
    {% if forloop.first %}
        <div id="income" class="paginationbtn">TODAY'S TOTAL: {{ record.sum }}</div>
    {% endif %}
{% endfor %}
<div class="paginationbtn">    
    {% if daily_fee_money_record.has_previous %}
        <a href="?page={{daily_fee_money_record.previous_page_number}}"><button class="btn btn-success"><i>Previous</i></button></a>
    {% endif %}
        <span class="page_num">{{daily_fee_money_record.number}}</span>
    {%if daily_fee_money_record.has_next %}
        <a href="?page={{daily_fee_money_record.next_page_number}}"><button class="btn btn-success"><i>Next</i></button></a> {# link to the next page #}
    {% endif %}
</div>
{% endblock%}

