<!DOCTYPE html>
{% extends 'teacher_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">


<div class="container">
    <div class="row">
      <h1 class="hedy">{{name}}</h1>
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h6 class="m-b-20">Id</h6>
                <i class="fa-solid fa-id-card f-left"></i>
                <p><span style="font-size: 20px; padding-left: 6px; ">{{salary}}</span></p>
            </div>
        </div>
      </div>
    
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <h6 class="m-b-20">Date of Admission</h6>
                <i class="fa-solid fa-calendar-days f-left"></i>
                <p><span style="font-size: 20px; padding-left: 6px; ">{{joindate}}</span></p>
            </div>
        </div>
      </div>
    
      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h6 class="m-b-20">Date of Birth</h6>
                <i class="fas fa-calendar-days f-left"></i>
                <p><span style="font-size: 20px; padding-left: 6px; ">{{mobile}}</span></p>
            </div>
        </div>
      </div>

    </div>
</div>

<br><br>
<div class="notice">
    <h4>Notice Board</h4>
</div><br>
{%for n in notice%}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Posted on {{n.date}} </strong><br><b>By : {{n.by}}</b><br> {{n.message}}
    </div>
{%endfor%}

{% endblock content %}