<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/form.css' %}">


<form method="POST">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form_header">
      <div class="note">
        <p>Announce Something</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <textarea required class="input-field" name="message" placeholder="Write Your Message Here"></textarea>
            </div>
            <div class="form-group">
              {% render_field form.by type="hidden"  class="form-control" placeholder="Your Name" %}
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>

</form>

{% endblock content %}