<!DOCTYPE html>
{% extends 'teacher_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<input type="text" class="search form-control" placeholder="Search...">
<div class="table-responsive"> 
  <table class="table table-bordered results">
    <caption style="display: none;"></caption>
    <thead>
        <tr>
          <th>Names</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payments %}
        <tr>
          <td >{{payment.student}}</td>
          <td >{{payment.amount}}</td>
        </tr>
        {% endfor %}
      </tbody> 
    </table> 
    </div>
{% endblock content %}