<!DOCTYPE html>
{% extends 'teacher_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<section class="table-main-body"> 
    <div class="text">
        <input type="text" class="search form-control" placeholder="Search...">
    <table class="table table-bordered results">
      <caption style="display: none;"></caption>
      <thead class="sticky-table-head">
        <tr>
          <th>Names</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for payment in payments %}
        <tr>
          <td >{{payment.student}}</td>
          <td >{{payment.canteen}}</td>
        </tr>
        {% endfor %}
      </tbody> 
    </table> 
    </div>
</section>
{% endblock content %}