<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">

<section class="table-main-body"> 
    <div class="text">
    
        <input type="text" class="search form-control" placeholder="Search...">
        <table class="table table-bordered border-primary results">
            <caption style="display: none;"></caption>
        <thead class="sticky-table-head">
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Contact</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for s in students %}
        <tr>
          <td ><strong>{{s.get_name}}</strong></td>
          <td ><strong>{{s.grade}}</strong></td>
          <td ><strong>{{s.mobile}}</strong></td>
          <td >
            <form action="{% url 'admin_approve_or_decline_student' s.id %}" method="POST" class="approve_or_decline">
                {% csrf_token %}
                <button class="btn btn-primary btn-xs approvebtn" name="approve"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-danger btn-xs declinebtn" name="decline"><span class="glyphicon glyphicon-trash"></span></button>
        </form></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
    </section>

    <script>
        bttn1 = document.getElementsByClassName('approvebtn');
        if(bttn1){
            for(var i = 0; i < bttn1.length; i++){
            bttn1[i].addEventListener('click', function(){
                if(confirm('Do you want to approve this student?')){
                    document.getElementsByClassName('approve_or_decline').submit();
                }else{
                    event.preventDefault()
                }
            }
        )}}

        bttn2 = document.getElementsByClassName('declinebtn');
        if(bttn2){
            for(var i = 0; i < bttn2.length; i++){
            bttn2[i].addEventListener('click', function(){
                if(confirm('Do you want to decline this student?')){
                    document.getElementsByClassName('approve_or_decline').submit();
                }else{
                    event.preventDefault()
                }
            }
        )}}
    </script>

{% endblock content %}