<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<section class="hom"> 
    <div class="text">
        <input type="text" class="search form-control" placeholder="Search...">
    <table class="table table-bordered border-primary results">
      <thead class="stay">
        <tr>
          <th class="tablestyle">Names</th>
          <th class="tablestyle">Daily Debt</th>
          <th class="tablestyle">Termly Debt</th>
          <th class="tablestyle">Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        {% if student.daily_debt > 0 or student.termly_debt > 0 %}
        <tr>
            <td class="tablestyle">{{student}}</td>
            <td class="tablestyle" id="daily_debt">{{student.daily_debt}}</td>
            <td class="tablestyle" id="termly_debt">{{student.termly_debt}}</td>
            <td class="tablestyle">{{student.mobile}}</td>
        </tr>    
        {% endif %}
        {% endfor %}

      </tbody> 
    </table> 
    </div>
</section>
{% endblock content %}