<!DOCTYPE html>
{% extends 'teacher_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">

<section class="table-main-body"> 
  <div class="text">

    <input type="text" class="search form-control" placeholder="Search...">

    <table class="table table-bordered results">
      <caption style="display: none;"></caption>
      <thead class="sticky-table-head">
        <tr>
          <th>Name</th>
          <th>Town</th>
          <th>Class</th>
          <th>Pay</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td ><strong>{{student.get_name}}</strong></td>
          <td ><strong>{{student.town}}</strong></td>
          <td ><strong>{{student.grade}}</strong></td>
          <td ><a href="{% url 'teacher_student_daily_payment' student.id %}" class="btn btn-success">Payment</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
<div class="text-center">
    <button class="btn btn-success resetbtn"><a href="{% url 'teacher_daily_paid_students' %}">Paid Students</a></button>
</div>
{% endblock content %}