a:link {
  text-decoration: none;
}

.note {
  text-align: center;
  height: 80px;
    background: -webkit-linear-gradient(left, #343a40, #607d8b);
  color: #fff;
  font-weight: bold;
  line-height: 80px;
}

.form-content {
  padding: 5%;
  border: 1px solid #ced4da;
  margin-bottom: 2%;
}

.form-control {
  border-radius: 1.5rem;
}

.btnSubDel{
  display: flex;
  justify-content: space-between;
}


.form_header{
  margin-top: 75px;
}

.check{
  font-size: x-large;
  height: 20px;
  width: 20px;
}
.student_name{
  font-weight: bold;
  text-align: center;
} 

.balnarea{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact-form{
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;

}

#contact-form label{
  line-height: 2.7em;
}

#contact-form textarea{
  min-height: 100px;
  font-size: 14px;
}