body{
  background: #BBA14F;
}
.jumbotron {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #BBA14F;
}

.jumbotron h1 {
  text-align: center;
  color: white;
}
.alert {
  margin: 46px 0 0 0;
  background: #131313;
  color: white;
}
.lead {
  text-align: center;
}    

.input-field{
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px; 
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border:1px solid black;
  font-size: 14px;
  color: black;
}

#submit-btn{
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px; 
  color: #fff;
  background-color: yellowgreen;
  border:none;
}
label{
  color: white;
}

.search {
  position: fixed;
  top: 66px;
  width: 100%;
}

#income{
  border: 4px solid white;
  background: black;
  color: white;
  padding: 10px;
  font-size: xx-large;
  margin-bottom: 10px;
}
.paginationbtn{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}