body{
    background: #bba14f;
}

h3 {
    padding: 10px;
    margin: 10px;
    color: #ffffff;
}

.table-responsive{
    padding-top: 80px;
    overflow-y: auto;
}

thead {
    position: static;
    top: 99px;
}

table, td {
    border: 1px solid black;
    background-color: gray;
    text-align: center;
    color: #ffffff;
}

th {
    border: 1px solid black;
    background-color: black;
    text-align: center;
    color: #ffffff;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.deleteitem{
    background: #ee0b1b;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
} 

.approvebtn{
    margin: 0 15px 0 0;
}

.declinebtn{
    margin: 0 0 0 15px;
}

.page_num{
    margin-top: -9px;
    font-size: 35px;
}

.resetbtn{
    margin: 0px;
}

@media only screen and (max-width: 337px) {
    .approvebtn{
        margin: 0 0 15px 0;
    }
    
    .declinebtn{
        margin: 15px 0 0 0;
    }
}

  