body{
    background: #bba14f;
}
.table-main-body{
    margin-top: 75px;
}
h3 {
    padding: 10px;
    margin: 10px;
    color: #ffffff;
}
.tablestyle {
    padding: 10px;
    margin: 10px;
}
table, td {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    text-align: center;
    color: #ffffff;
}
th {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
    color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.deleteitem{
    background: #ee0b1b;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
.canteen{
    background: #4caf50;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}
.deleteite{
    background: #ee0b1b;
    color: #fff;
    cursor: pointer;
    padding: 5px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.results tr[visible='false'],
.no-result{
    display:none;
}

.results tr[visible='true']{
    display:table-row;
} 

.action1{
    margin: 0 15px 0 0;
}

.action2{
    margin: 0 0 0 15px;
}
.page_num{
    margin-top: -9px;
    font-size: 35px;
}
#income{
    border: 4px solid white;
    border-radius: 12px;
    background: black;
    color: white;
    padding: 10px;

}
.stay{
    position: sticky;
    top: 99px;
}
.resetbtn{
    margin: 0px;
}
center{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


@media only screen and (max-width: 337px) {
    .action1{
        margin: 0 0 15px 0;
    }
    
    .action2{
        margin: 15px 0 0 0;
    }
}