<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<section class="table-main-body"> 
  <div class="text">
      <input type="text" class="search form-control" placeholder="Search...">
      <table class="table table-bordered border-primary results">
        <caption style="display: none;"></caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact</th>
          <th>Salary</th>
          <th>Joined Date</th>
        </tr>
    </thead>
    <tbody class="results">
      {% for teacher in teachers %}
      <tr>
        <td ><strong><a href="{% url 'admin_view_individual_teacher_info' teacher.id %}" id="std_sty">{{teacher.get_name}}</a></strong></td>
        <td ><strong>{{teacher.mobile}}</strong></td>
        <td ><strong>${{teacher.salary}}</strong></td>
        <td ><strong>{{teacher.joindate}}</strong></td>
      </tr>
      {% endfor %}
    </tbody>
      </table>
  </div>  
</section>
{% endblock content %}