<!DOCTYPE html>
{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<div class="spacer"></div>
<div class="container">
	<div class="row">
		<h1 class="hedy">This is {{teacher.get_name}}</h1>
		<div class="col-md-4 col-xl-3">
			<div class="card bg-c-blue order-card">
				<div class="card-block">
					<h6 class="m-b-20">Id</h6>
					<i class="fas fa-user-tie f-left"></i>
					<p><span style="font-size: 20px;padding-left: 6px;">{{teacher.salary}}</span></p>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-xl-3">
			<div class="card bg-c-green order-card">
				<div class="card-block">
					<h6 class="m-b-20">Date of Admission</h6>
					<i class="fas fa-mobile-alt f-left"></i>
					<p><span style="font-size: 20px;padding-left: 6px;">{{teacher.joindate}}</span></p>
				</div>
			</div>
		</div>

		<div class="col-md-4 col-xl-3">
			<div class="card bg-c-yellow order-card">
				<div class="card-block">
					<h6 class="m-b-20">Name</h6>
					<i class="fas fa-list-ol f-left"></i>
					<p><span style="font-size: 20px;padding-left: 6px;">{{teacher.get_name}}</span></p>
				</div>
			</div>
		</div>

	</div>

	<div class="update">
		<a href="{% url 'admin_update_individual_teacher_info' teacher.id %}" class="updat btn btn-success">Update</a>
		<form method="POST" id="deletestudentform">
			{% csrf_token %}
			<button id="deletestudent" class="updat btn btn-danger">Delete</button>
		</form>
	</div>

</div>

<div class="table-responsive">
	<table class="table table-bordered">
		<caption style="display: none;"></caption>
		<thead>
			<tr>
				<th>Day</th>
				<th>Student</th>
				<th>Amount</th>
				<th>Balance</th>
				<th>Debt</th>
			</tr>
		</thead>
	</table>
</div>

{% endblock content %}